/*--------bg-light---------*/
.bg-lgt{
    background-color: #e7f1fd !important;
}

.head-section{
    position: fixed;
    z-index: 667;
    width: 100%;
    padding:6px 0;
    background-color: #fff;
}
.nav-link:focus, .nav-link:hover {
    color: #2196f3;
}
.nav-link .head-nav-link {
 padding-bottom:10px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding:0 0 5px 0;
  margin:0 10px;
} 
.navbar-nav .nav-link.active{
  color:#2196f3;
    border-bottom: solid 2px #2196f3;
}
.head-nav-link{
 position:relative;
}
.head-nav-link:after{
 content:"";
 position:absolute;
 width:0%;
 height:2px;
 background-color: #2196f3;
 bottom:-2px;
 left:0;
 transition: all ease 0.5s;
}
.head-nav-link:hover:after{
 width:100%; 
}
.head-nav-link:hover {
	    color: #2196f3;
}
.dropdown-item:hover{
 color:#2196f3;
 background:unset;
}
.deep-drop-down{
 position:relative;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    border-radius: 0;
    border: 0;
    box-shadow: 0 0 5px #ccc;
}
.dropdown-menu-deep {
    position: absolute;
    top: 30%;
    left: -83%;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 0 3px #ccc;
    padding: 10px 1px;
    visibility:hidden;
    opacity:0;
    transition: all ease 0.5s;
}

.deep-drop-down:hover .dropdown-menu-deep{
 visibility:visible;
 opacity:1;
 transition:all ease 0.5s;
 transform: translateX(-10px);
}   
.banner-section{
 background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)),url(../images/background-image.jpg);
 background-attachment: fixed;
 padding:231px 0;
}
.banner-content h1{
    font-size: 47px;
    font-weight: 800;
}
.banner-content p{
color: #6e6b6b;
}
.banner-content i{
   font-size: 36px;
   padding-right: 10px;
}
.banner-content a{ 
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}
.btn{
  font-size: 14px;
  font-weight: 600;
  padding: 8px 34px;
}
.watch-btn{
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
    transition: all ease 0.5s;
}
.banner-btn{
 display: flex;
}
.watch-btn:hover a{
  transition:all ease 0.4s;
  color:#0d6efdc4;
}
/*---------------banner-logo------------*/
.banner-logo-section{
  padding:50px 0;
}
.banner-logo{
    position:relative;
    box-shadow: 0px 1px 31px #af9f9f8f;
    padding:34px;
    border-radius: 6px;
    height:100%;
    z-index:1; 
    overflow:hidden;
}
.banner-logo i{
   font-size: 44px;
   color:#106eea;
}
.banner-logo p{
 color:#646262;
}
.banner-logo:after{
 content:"";
 position:absolute;
 top:100%;
 left:0;
 bottom:0;
 width:100%;
 height:auto;
 z-index:-1;
 transition:all ease 0.5s;
}
.banner-logo:hover:after{
   background-color:#106eea;
    top:0;
}
.banner-logo:hover h3{
 color:#fff;
} 
.banner-logo:hover i{
 color:#fff;
}
.banner-logo:hover p{
 color:#fff;
}
/*-------about-section--------*/
.about-section{
 padding:84px 0;
 color:#5c5959;
 background-color:#e7f1fd54;
}
.abt-head-cnt h3{
  display:inline;
  font-size:12px;
}
.about-section h1{
  font-weight:800;
}
.about-section{
   font-weight:600;
}
.abt-content p{
 margin:0;
} 
.rounded-pill {
    padding: 4px 12px;
}
/*------------------------*/
.abt-progress-section{
   padding:50px 0;
}
.abt-progress h3{
    font-size: 14px;
}
.progress{
  height:10px;
  border-radius:0;
}

/*-------about-logo-section---*/
.about-logo{
 padding: 50px 50px;
}
.about-logo-1 h2{
color: #646161;
}
.about-logo-1{
    position: relative;
    border: solid 0px;
    background-color:#e7f1fd;
    text-align: center;
    padding:10px 0;
}
.about-logo-1 i{
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    color: #fff;
    border: solid 7px;
    border-radius: 50%;
    padding:10px;
}
/*---------client-section---------*/
.client-section{
 padding:50px 98px;
 background-color: aliceblue;
}
.client-logo{
 padding:0 30px;
 transition: all ease 0.5s;
}
.client-logo img{
  padding:0 !important;
}
.client-logo:hover{
  transform:scale(1.2);
  transition: all ease 0.3s;
}
/*----------service-section-------*/
.service-section{
 padding:84px 0;
 color:#5c5959;
}
.service-head-cnt h3{
  display:inline;
  font-size:14px;
}
.service-section h1{
  font-weight:800;
  color:#5c5959;
}
.service-section{
   font-weight:600;
}
.service-logo{   
   border: solid 1px #96c5ed36;
   padding: 74px 20px; 
    transition: all ease 0.6s;
}
.service-logo h3{
  color:black;
 transition: all ease 0.6s;
}
.service-logo i{	
    color: #64a1f1;
    background-color:#e7f1fd;
    border: solid 1px #96c5ed36;
    padding: 16px 20px;
    border-radius: 6px;
    transition: all ease 0.6s;
}
.service-logo:hover{
   box-shadow: 0 0 20px #96c5ed36;
}
.service-logo:hover i{
 border-color:#106eea;
}
.service-logo:hover h3{
 color:#106eea;
}
.service-logo:hover p{
 color:#484545;
}
/*----------------------------testimonials-section---------*/
.testimonials-section{
  position:relative;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/testimonials-bg.jpg);
  background-position:center;
  background-attachment:scroll;
  padding: 186px 0;
}
.testimonals-sct{
    position: absolute;
    top: 64px;
    left: 50%;
    width:100%;
    text-align: center;
    transform: translateX(-50%);
}
.carousel-indicators {
 bottom:-26px; 
 margin-bottom: 0;
}
.carousel-item{
   text-align: center;
   color: #fff;
   bottom: 0;
}
.carousel-item img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 7px #564c4c9c;
}
.carousel-item h5{
  margin:0;
}
.carousel-item p i{
 font-size:22px;
}
.carousel-item p i.icofont-quote-left:first-child {
    position: relative;
    bottom: 5px;
}
.carousel-item p i.icofont-quote-right:last-child {
    position: relative;
    top: 8px;
}
.carousel-indicators [data-bs-target] {
    width: 13px;
    height: 10px;
    border-radius: 50%;
    color:#96c5ed36;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #fff;
}
.carousel-indicators .active {
    opacity: 1;
    background-color: #2196f3 !important;
}
/*-------portfolio-section--------*/
.portfolio-section{
 padding:84px 0;
 color:#5c5959;
}
.portfolio-head-cnt h3{
  display:inline;
  font-size:14px;
}
.portfolio-section h1{
  font-weight:800;
}
.portfolio-section{
   font-weight:600;
}
.portfolio-logo{
  position:relative;
}
.portfolio-overlayer{
    width: 80%;
    position: absolute;
    bottom: 27px;
    left: 33px;
    right: 33px;
    opacity: 0;
    border: solid 0px #fff;
    background-color: #fff;
    padding: 6px 12px;
}
.portfolio-logo:hover .portfolio-overlayer{
   opacity:1;
   transition:all ease 0.7s;
   transform: translatey(-8px);
}
.prt-lnk i:hover{
 color:#0d6efd;
}
.prt-lnk a{
 color:#878282;
 text-decoration:none;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
 color:#0d6efd;
 background-color:unset;
}
   
.nav-link{
 color:#000;
}
.nav :hover{
 color:#0d6efd;
}

/*--------team-section------------*/
.team-section{
 padding:84px 0;
 color:#282020;
 background-color:#e7f1fd54;
}
.team-head-cnt h3{
  display:inline;
  font-size:14px;
}
.team-section h1{
  font-weight:800;
}
.team-section{
   font-weight:600;
}

.team-overlayer {
    position: absolute;
    top: 198px;
    text-align: center;
    width: 100%;
    opacity: 0;
}
.team-overlayer a{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background-color: #0d6efd;
    line-height:28px;
    border-radius: 6px;
    padding: 2px 8px;
    margin:0 2px;
}
.card:hover .team-overlayer{
 opacity:1;
 transform: translateY(10px);
 transition:all ease 0.5s;
}
.team-overlayer a:hover{
  background-color:#0d6efdb5;
  color:#fff;
}
 
.card{
 position:relative;
 width:100%;
 border-radius: 5px;
 box-shadow: 0px 0px 12px #ccc;
 border:0;
}
.card-body{
 padding:16px 14px;
}
.card-body h3{
 margin:0 0 3px 0;
}
.card-body p{
 font-size:13px;
 margin:0;
}
/*---------------piricing----section------*/
.pricing-section{
 padding:40px 0;
 color:#282020;
}
.pricing-head-cnt h3{
  display:inline;
  font-size:14px;
}
.pricing-section h1{
  font-weight:800;
}
.pricing-section{
   font-weight:600;
}

.pricing-card{
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 5px #ccc;
}
.prc-card-head{
 padding:20px 0;
 border: 0;
}
.prc-card-footer{
 padding:20px 0;
 border: 0;
} 
.pricing-side-btn{
    position: absolute;
    top: 12px;
    right:-38px;
    margin: 0;
    border-radius:unset;
    transform: rotate(45deg);
}
/*---------------F.A.Q-section------*/
.FAQ-section{
 padding:40px 0;
 color:#282020;
}
.FAQ-head-cnt h3{
  display:inline;
  font-size:14px;
}
.FAQ-section h1{
  font-weight:800;
}
.FAQ-section{
   font-weight:600;
}
.accordion-item {
    border: 0;
    border-bottom: solid 1px #e7ecf1;
}
.accordion {
 --bs-accordion-color:#2f3234b8;
 --bs-accordion-border-color: none;
 --bs-accordion-btn-bg: none;
 --bs-accordion-btn-focus-border-color: none;
 --bs-accordion-active-bg:none;
 --bs-accordion-btn-focus-box-shadow:none;
}
.accordion-button:not(.collapsed) {
  font-size:19px;
}
.accordion-button{
 font-size:18px;
}
.accordion-body {
 padding-top:0;
}
.accordion-button:hover{
 color:#4545ffd1;
}
.accordion-button::after {
    position: absolute;
    left: -5px;
    top: 13px;
    opacity: 0.4;
}
/*------------contact-section-------*/
.contact-section{
 padding:84px 0;
 color:#282020;
}
.contact-head-cnt h3{
  display:inline;
  font-size:14px;
}
.contact-section h1{
  font-weight:800;
}
.contact-section{
   font-weight:600;
}
.contact-content{
 color:#282020cc;
}
.contact-address{
 padding:27px 0;
 border: 0 !important;
 box-shadow: 0 0 19px #cccccc47;
}
.contact-address p{
 margin:0;
}
.contact-address i{
border: 2px dotted #b3d1fa;
}
.contact-info-form{
 padding:27px 24px;
 border: 0 !important;
 box-shadow: 0 0 19px #cccccc47;
}
textarea.form-control {
  min-height:130px;
}
/*---------------*/
.subscribe-section{
    padding: 50px 0;
    background-color: #f1f6fe;
}
.input-group{
    width: 50%;
    left: 27%;
    top: 17px;
}
.input-group btn{
   left:30%;
}
/*----------bottom-section-----*/
.bottom-section{
  padding:40px 0;
  color: #282020;
}
.bottom-content-2 h4{
  font-size:17px;
}
.bottom-content-3 h4{
  font-size:17px;
}
.bottom-content-3 p{
  font-size:15px;
}
.bottom-content-3 a{
  text-decoration:none;
}
.bottom-content-2 a{
   text-decoration:none;
   display:inline-block;
   font-size:14px;
   color:#747272;
}
.form-control:focus {
  box-shadow:unset;
}
.btm-logo a{
    font-size: 16px;
    color: #fff;
    background-color: #0d6efd;
    line-height:28px;
    border-radius: 3px;
    padding: 2px 8px;
    margin:0 4px;
}
.btm-logo a:hover{
  background-color:#0d6efdb5;
  color:#fff;
}
.bottom-content-2 ul{
padding-left:0;
}
.bottom-content-2 ul li{
list-style:none;
}
.bottom-content-2 a:hover{
 color: #106eea;
}
/*-----------------footer-section-------------------*/
.footer-section{
    padding: 20px 0;
    background-color: #f1f6fe;
}
.footer p{
  font-size:13px;
  color:#747272;
}
.footer span{
color:#0d6efd;
} 
.footer span:hover{
  color:#0d6efdd9;
}
.footer-section .up-arrow{
 position:fixed;
 right:20px; 
 bottom:10px;
 z-index:670;
 font-size:25px;
 color:#fff;
 background-color:#0d6efd;
 padding:4px;

}
.up-arrow >a{
  color:#fff;
  text-decoration:none;
}


