.banner-section{
 background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url(../images/background-image.jpg);
 background-position: center;
 background-attachment: fixed;
 min-height:400px;
}
.banner-content{
  padding-top: 130px;
}
.banner-content h1{
    font-size: 47px;
    font-weight: 800;
}
.banner-content p{
color: #6e6b6b;
}
.banner-content i{
   font-size: 36px;
   padding-right: 10px;
}
.banner-content a{ 
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}
.btn{
  font-size: 14px;
  font-weight: 600;
  padding: 8px 34px;
}
.watch-btn{
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
}
.banner-btn{
 display: flex;
}
.watch-btn:hover a{
  transition:all ease 0.4s;
  color:#0d6efdc4;
}
/*---------------banner-logo------------*/
.banner-logo-section{
  padding:50px 0;
}
.banner-logo{
    box-shadow: 0px 1px 31px #af9f9f8f;
    padding:34px;
    border-radius: 6px;
    height:100%;
}
.banner-logo i{
   font-size: 44px;
   color:#106eea;
}
.banner-logo p{
 color:#646262;
}
.banner-logo:hover{
 background-color:#106eea;
 color:#fff;
}
.banner-logo:hover i{
 color:#fff;
}
.banner-logo:hover p{
 color:#fff;
}
/*-------about-section--------*/
.about-section{
 padding:40px 0;
 color:#5c5959;
}
.abt-head-cnt h3{
  display:inline;
  font-size:12px;
}
.about-section h1{
  font-weight:800;
}
.about-section{
   font-weight:600;
}
.rounded-pill {
    padding: 4px 12px;
}
/*------------------------*/
.abt-progress-section{
   padding:50px 0;
}
.abt-progress h3{
    font-size: 14px;
}
.progress{
  height:10px;
  border-radius:0;
}

/*-------about-logo-section---*/
.about-logo{
 padding: 50px 50px;
}
.about-logo-1 h2{
color: #646161;
}
.about-logo-1{
    position: relative;
    border: solid 0px;
    background-color: aliceblue;
    text-align: center;
    padding:10px 0;
}
.about-logo-1 i{
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    color: #fff;
    border: solid 7px;
    border-radius: 50%;
    padding:10px;
}
/*---------client-section---------*/
.client-section{
 padding:50px 98px;
 background-color: aliceblue;
}
.client-logo{
 padding:0 30px;
}
.client-logo img{
  width:80%;
}
.client-logo:hover{
  transform:scale(1.2);
  transition: all ease 0.3s;
}
/*----------service-section-------*/
.service-section{
 padding:40px 0;
 color:#5c5959;
}
.service-head-cnt h3{
  display:inline;
  font-size:12px;
}
.service-section h1{
  font-weight:800;
  color:#5c5959;
}
.service-section{
   font-weight:600;
}
.rounded-pill {
    padding: 4px 12px;
}
.service-logo{   
   border: solid 1px #96c5ed36;
   padding: 74px 20px; 
}
.service-logo h3{
  color:black;
}
.service-logo i{	
    color: #64a1f1;
    background-color:aliceblue;
    border: solid 1px #96c5ed36;
    padding: 16px 20px;
    border-radius: 6px;
}
.service-logo:hover{
   box-shadow: 0 0 20px #96c5ed36;
}
.service-logo:hover i{
 border-color:#106eea;
}
.service-logo:hover h3{
 color:#106eea;
}
.service-logo:hover p{
 color:#484545;
}
/*----------------------------testimonials-section---------*/
.testimonials-section{
  position:relative;
  background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)),url(../images/testimonials-bg.jpg);
  background-position:center;
  background-attachment:scroll;
  padding: 140px 0;
}
.testimonals-sct{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}
.carousel-indicators {
  top:90px;
  margin-bottom: 0;
}
.carousel item{
   text-align: center;
   color: #fff;
   padding: 30px 0 50px;
   bottom: 0;
}